*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-size:14px;
  color:#737373;
  font-family: tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}
ul{
  list-style:none;
}
a{
  color:#737373;
  text-decoration:none;
}
a:hover{
  color:#ff6a00;
}
.ico{
  display:inline-block;
  background:transparent url('../img/common_z.png') no-repeat;
  vertical-align: middle;
}
/* 下三角 */
.triangle-bottom{
  border:6px solid transparent;
  border-top-color:#999;
}
.show{
  display:block !important;
}
/* 引入头部和尾部 */
iframe.head,iframe.foot{
  width:100%;
}
iframe.head{
  height:123px;
}
iframe.foot{
  height:255px;
}
/* 商品详情 商品列表 面板样式 */
.panel{
  margin-bottom:20px;
}
.panel .panel-head{
  padding:8px 0;
  color:#737373;
  background:#ffe8d9;
  border:1px solid #ebebeb;
}
.panel .panel-body{
  padding:10px 9px;
  border:1px solid #ebebeb;
}
.panel-body>.side-item>.img-box img{
  width:180px;
  height:196px;
  padding:8px;
}
.side-item{
  margin-bottom:5px;
  padding-top:5px;
}
.side-item+.side-item{
  border-top:1px solid #d9d9d9;
}
.side-item .info-cont div{
  margin-bottom:8px;
  font-size:12px;
}
.side-item .info-cont .price{
  text-align:center;
  color:#ff6a00;
  font-weight:bolder;
}
/* 客服咨询 */
.cus-service{
  background:#ff6a00;
  width:120px;
  height:40px;
}
.cus-service li{
  height:40px;
  float:left;
  padding:10px;
  font-weight:bold;
}
.cus-service li>a{
  color:#fff;
}
.cus-service>li+li{
  border-left:2px solid rgba(0, 0, 0, 0.08);
}
.ico-service{
  display:inline-block;
  vertical-align:middle;
  width:20px;
  height:20px;
  background:url('../img/index/icon-mq.png') no-repeat;
}
.foot-service{
  position:fixed;
  bottom:0;
  right:60px;
}
.foot-service iframe{
  width:120px;
  height:40px;
}
/* 客服咨询 End */