.top_nav{
    min-width:1200px;
    border-bottom:1px solid #e6e6e6;
    font-size:12px;
    background:#f2f2f2;
}
.top_nav>.nav{
     height:35px;
}
.top_nav>.nav,.top{
    width:1200px;
    margin:0 auto;
}
.top_nav>.nav ul li{
    float:left;
    line-height:34px;
}
.top_nav>.nav .nav_left{
    float:left;
}
.nav_left .dropdown-wx{
    text-align:center;
    padding-top:20px;
}
.dropdown-menu{
    font-size:12px;
    padding:10px;
    border:1px solid #d9d9d9;
    background:#fff;
    position:absolute;
    display:none;
}
.dropdown-wx p{
    height:20px;
}
.dropdown-wx p+p{
    margin-bottom:10px;
}
.top_nav>.nav .nav_right{
    float:right;
}
.nav_right span{
    color:#d9d9d9;
}
.nav a{
    padding:0 8px;
}
.dropdown-service{
    width:80px;
    padding:7px;
}
.triangle-bottom{
    border:6px solid transparent;
    border-top-color:#d9d9d9;
    position:relative;
    top:12px;
}
.top_nav>.nav  .nav_right .dropdown-service>li{
    line-height:24px;
}
.ico{
    display:inline-block;
    vertical-align: middle;
    background:transparent url('../images/common_z.png') no-repeat;
}
.ico_star,.ico_weixin,.ico_mobile,.ico_cart{
    width:24px;
    height:24px;
    margin-right:2px;
}
.ico_star{
    background-position:0px -320px;
}
.ico_weixin{
    background-position:-375px -133px;
}
.ico_mobile{
    background-position:-293px -173px;
}
.ico_cart{
    background-position:-340px -284px;
}
.top>div{
    float:left;
    margin-top:30px;
}
.logo{
    width:500px;
}
.logo h1{
    font-size:36px;
    font-weight:500;
    color:#FF734D;
}
.search input{
    width:260px;
    height:36px;
    border:1px solid #FF6A00;
    padding:10px;
    color:#d2d2d2;
    position:relative;
    top:-1px;
}
.search>a{
    display:inline-block;
    width:80px;
    height:36px;
    line-height:36px;
    text-align:center;
    background:#FF6A00;
    color:#fff;
    padding:0 10px;
}
.help_block{
    display:block;
    color:#d9d9d9;
    font-size:12px;
    margin-top:5px;
}
.help_block>a{
    color:#999;
}
.help_block>a:hover,.service a:hover{
    color:#FF6A00;
    text-decoration:underline;
}
.service{
    float:right;
    padding-top:5px;
}
.ico_online,.ico_phone{
    width:30px;
    height:30px;
    margin-right:6px;
}
.ico_phone{
    background-position:-380px -48px;
}
.ico_online{
    background-position:-295px -131px;
}
.service a{
    font-size: 12px;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #d9d9d9;
}
div.top::after,header::after,div.pro_nav::after,ul.nav::after{
    content:"";
    display:block;
    clear:both;
}
.default{
    min-width:1200px;
    border-bottom:3px solid  #FF6A00;
    margin-top:20px;
    height:40px;
}
.pro_nav{
    width:1200px;
    margin:0 auto;
}
.category{
    width:230px;
    line-height:40px;
    float:left;
    background:#FF6A00;
    padding-left:10px;
    position:relative;
}
.category>h3>a{
    color:#fff;
}
.pro_nav>ul.nav>li{
    float:left;
}
.pro_nav>ul.nav>li>a{
    font-size:15px;
    display:inline-block;
    font-weight:bold;
    color:#4d4d4d;
    padding:11px 24px;
}
.pro_nav>ul.nav>li>a:hover{
    color:#FF6A00;
}
.default .category .dropdown-cate{
    position:absolute;
    z-index:999;
    top:40px;
    left:0px;
    width:230px;
    height:440px;
    padding:10px 15px 0;
    border-bottom:3px solid #ff6a00;
    box-shadow:0 2px 2px rgba(0, 0, 0, 0.175); 
}
.dropdown-cate>h4{
    margin-bottom:6px;
    color:#ff6a00;
    line-height:20px;
}
.dropdown-cate ul{
    margin-bottom:8px;
    padding-bottom:8px;
}
.dropdown-cate ul:not(:last-child){
    border-bottom:1px solid  #e9e9e9;
}
.dropdown-cate ul::after{
    content:"";
    display:block;
    clear:both;
}
.dropdown-cate ul li{
    font-size:12px;
    line-height:22px;
    margin-right:12px;
    float:left;
}
.cate-cake,.cate-ysh{
    position:relative;
}
.dropdown-cate .cate-cake>a,.cate-ysh>a{
    color:#ff6a00;
    height:30px;
    line-height:30px;
    display:block;
    font-weight:bold;
}
.dropdown-cate>div>div>a{
    color:#ff6a00;
    display:inline-block;
    font-weight:bold;
}
.right-menu{
    position:absolute;
    left:216px;
    width:730px;
    background:pink;
    padding:10px;
}
.right-menu h5{
    margin:5px 0px;
}
.cate-ysh .right-menu{
    top:-63px;
    height:210px;
    display:none;
}
.right-menu .link-img::after{
    content:"";
    display:block;
    clear:both;
}
.right-menu .link-img>a{
    display:block;
    float:left;
    width:98px;
    height:86px;
    text-align:center;
    border:1px solid #e5e5e5;
    margin-left:-1px;
    margin-bottom:10px;
    background:#fff;
    line-height:14px;
    font-size:12px;
}
.cate-cake .right-menu{
    height:440px;
    top:-361px;
    display:none;
}