.top_nav{
    min-width:1200px;
    border-bottom:1px solid #e6e6e6;
    font-size:12px;
    background:#f2f2f2;
}
.top_nav>.nav{
     height:35px;
}
.top_nav>.nav,.top{
    width:1200px;
    margin:0 auto;
}
.top_nav>.nav ul li{
    float:left;
    line-height:34px;
}
.top_nav>.nav .nav_left{
    float:left;
}
.nav_left .dropdown-wx{
    text-align:center;
    padding-top:20px;
}
.dropdown:hover{
    background:#fff;
}
.dropdown-menu{
    font-size:12px;
    padding:10px;
    border:1px solid #d9d9d9;
    background:#fff;
    position:absolute;
    display:none;
}
.dropdown-wx p{
    height:20px;
}
.dropdown-wx p+p{
    margin-bottom:10px;
}
.top_nav>.nav .nav_right{
    float:right;
}
.nav_right span{
    color:#d9d9d9;
}
.nav a{
    padding:0 8px;
}
.dropdown-service{
    width:80px;
    padding:7px;
}
.nav_right .triangle-bottom{
    position:relative;
    top:12px;
}
.top_nav>.nav  .nav_right .dropdown-service>li{
    line-height:24px;
}
.ico{
    display:inline-block;
    vertical-align: middle;
    background:transparent url('../img/common_z.png') no-repeat;
}
.ico_star,.ico_weixin,.ico_mobile,.ico_cart{
    width:24px;
    height:24px;
    margin-right:2px;
}
.ico_star{
    background-position:0px -320px;
}
.ico_weixin{
    background-position:-375px -133px;
}
.ico_mobile{
    background-position:-293px -173px;
}
.ico_cart{
    background-position:-340px -284px;
}
.top>div:not(:last-child){
    float:left;
    margin-top:30px;
}
.logo{
    width:500px;
}
.logo h1{
    font-size:36px;
    font-weight:500;
    color:#FF734D;
}
.search input{
    width:260px;
    height:36px;
    border:1px solid #FF6A00;
    padding:10px;
    color:#d2d2d2;
    position:relative;
    top:-1px;
}
.search>a{
    display:inline-block;
    width:80px;
    height:36px;
    line-height:36px;
    text-align:center;
    background:#FF6A00;
    color:#fff;
    padding:0 10px;
}
.help_block{
    display:block;
    color:#d9d9d9;
    font-size:12px;
    margin-top:5px;
}
.help_block>a{
    color:#999;
}
.help_block>a:hover,.service a:hover{
    color:#FF6A00;
    text-decoration:underline;
}
.service{
    float:right;
    padding-top:5px;
    margin-top:30px;
}
.ico_online,.ico_phone{
    width:30px;
    height:30px;
    margin-right:6px;
}
.ico_phone{
    background-position:-380px -48px;
}
.ico_online{
    background-position:-295px -131px;
}
.service a{
    font-size: 12px;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #d9d9d9;
}
div.top::after,header::after,div.pro_nav::after,ul.nav::after{
    content:"";
    display:block;
    clear:both;
}
