#top{
    min-width:1200px;
    margin:0 auto;
}
#top span{
    display:block;
    height:80px;
    background:url('../img/index/pc_newuser_order.png') no-repeat 50%;
}
.default{
    min-width:1200px;
    border-bottom:3px solid  #FF6A00;
    margin-top:20px;
    height:40px;
}
.pro_nav{
    width:1200px;
    margin:0 auto;
}
.category{
    width:230px;
    line-height:40px;
    float:left;
    background:#FF6A00;
    padding-left:10px;
    position:relative;
}
.category>h3>a{
    color:#fff;
}
.pro_nav>ul.nav>li{
    float:left;
}
.pro_nav>ul.nav>li>a{
    font-size:15px;
    display:inline-block;
    font-weight:bold;
    color:#4d4d4d;
    padding:11px 24px;
}
.pro_nav>ul.nav>li>a:hover{
    color:#FF6A00;
}
.default .category .dropdown-cate{
    position:absolute;
    z-index:100;
    top:40px;
    left:0px;
    width:230px;
    height:440px;
    padding:10px 15px 0;
    border-bottom:3px solid #ff6a00;
    background:#fff;
    box-shadow:0 2px 2px rgba(0, 0, 0, 0.175); 
}
.dropdown-cate>h4{
    margin-bottom:6px;
    color:#ff6a00;
    line-height:20px;
}
.dropdown-cate ul{
    margin-bottom:8px;
    padding-bottom:8px;
}
.dropdown-cate ul:not(:last-child){
    border-bottom:1px solid  #e9e9e9;
}
.dropdown-cate ul::after{
    content:"";
    display:block;
    clear:both;
}
.dropdown-cate ul li{
    font-size:12px;
    line-height:22px;
    margin-right:12px;
    float:left;
}
.cate-cake,.cate-ysh{
    position:relative;
    margin:-9px -15px 0;
    padding:9px 15px 0;
}
.cate-ysh{
    border-bottom:1px solid #e9e9e9;
}
.cate-ysh>a>img{
    vertical-align:middle;
    position: relative;
    left:135px;
}
.cate-cake>.gift img{
    vertical-align:middle;
    position: relative;
    left:58px;
}
.dropdown-cate .cate-cake>a,.cate-ysh>a{
    color:#ff6a00;
    height:30px;
    line-height:30px;
    display:block;
    font-weight:bold;
}
.dropdown-cate>div>div>a{
    color:#ff6a00;
    display:inline-block;
    font-weight:bold;
}
.right-menu{
    position:absolute;
    left:230px;
    width:730px;
    background:#fff;
    padding:10px;
    display:none;
    border:1px solid #ddd;
    box-shadow:0 1px 2px 2px rgba(0, 0, 0, 0.175);
}
.right-menu h5{
    margin:5px 0px;
}
.cate-ysh .right-menu{
    top:-55px;
    height:210px;
}
.right-menu .link-img::after{
    content:"";
    display:block;
    clear:both;
}
.right-menu .link-img>a{
    display:block;
    float:left;
    width:98px;
    height:86px;
    text-align:center;
    border:1px solid #e5e5e5;
    margin-left:-1px;
    margin-bottom:10px;
    background:#fff;
    line-height:14px;
    font-size:12px;
}
.cate-cake .right-menu{
    height:440px;
    top:-353px;
}
/*轮播图*/
.carousel{
    min-width:1200px;
    height:440px;
    margin-bottom:30px;
    position:relative;
}
.carousel>.content{
    width:1200px;
    height:440px;
    margin:0 auto;
    position:relative;
}
.carousel>.carousel-inner>li{
    width:100%;
    position:absolute;
    top:0px;
    left:50%;
    margin-left:-50%;
}
.carousel>.carousel-inner>li{
    opacity:0;
    transition:all .5s linear;
    text-align:center;
}
.carousel>.carousel-inner>li.active{
    opacity:1;
}
.carousel>.carousel-inner>li img{
    width:100%;
    height:440px;
}
.carousel>.content>.carousel-indicators{
    position:absolute;
    bottom:15px;
    left:550px;
}
.carousel>.content>.carousel-indicators>li{
    float:left;
    width:15px;
    height:15px;
    border-radius:50%;
    background:#7F686B;
    margin-right:10px;
}
.carousel>.content>.carousel-indicators>li.current{
    background:#ff6a00;
    cursor:pointer;
}
.carousel>.content>a{
    background:#888;
    display:inline-block;
    padding:10px 2px;
    border-radius:3px;
    opacity:0.4;
}
.carousel>.content>.left{
    position:absolute;
    left:235px;
    top:206px;
}
.carousel>.content>.right{
    position:absolute;
    right:220px;
    top:206px;
}
.carousel>.content>.left:hover,.carousel>.content>.right:hover{
    opacity:0.8;
}
.carousel>.content>.right-box{
    position:absolute;
    right:3px;
    top:6px;
}
.carousel>.content>.right-box>li{
    width:210px;
    height:141px;
    border-bottom:1px solid #e4e4e4;
    transition:all .3s;
}
.carousel>.content>.right-box>li:hover{
    transform:translateX(-5px);
}
/*主体内容*/
.container{
    width:1200px;
    margin:0 auto;
}
.container>.top_server{
    padding-bottom:50px;
}
.container>.top_server>ul{
    display:flex;
    justify-content:space-around;
}
.ico_server_1,.ico_server_2,.ico_server_3,.ico_server_4,.ico_server_5,.ico-server-f1,.ico-server-f2,.ico-server-f3,.ico-server-f4,.ico-server-f5,.ico-server-f6,.ico-server-f7,.ico-server-f8{
    width:40px;
    height:40px;
}
.ico_server_1,.ico_server_2,.ico_server_3,.ico_server_4,.ico_server_5{
    float:left;
}
.container>.top_server>ul>li>a :not(span){
    margin-left:50px;
}
.ico_server_1{
    background-position:-245px -100px;
}
.ico_server_2{
    background-position:-244px -50px;
}
.ico_server_3{
    background-position:-244px -0px;
}
.ico_server_4{
    background-position:-150px -184px;
}
.ico_server_5{
    background-position:-102px -184px;
}
.container>.time_limit{
    height:200px;
    margin-bottom:40px;
    display:flex;
    justify-content:space-around;
}
.container .product_list{
    display:flex;
    justify-content:space-around;
}
.container .product_list>li{
    margin-right:-1px;
    border:1px solid #e5e5e5;
}
.container>.time_limit>.title{
    width:232px;
    text-align:center;
    font-size: 24px;
    color:#fff;
    background-color:#aacc03;
}
.container>.time_limit>.comic_choose{
    width:249px;
    overflow:hidden;
    text-align:center;
    margin-left:1px;
}
.ico_clock{
    width:64px;
    height:64px;
    margin: 40px auto 25px;
    background-position: 0px 0px;
}
.container .comic_choose img{
    transition:1s linear;
}
.container .comic_choose img:hover{
    transform:scale(1.05);
}
.floor{
    height:676px;
    border:0px solid #e5e5e5;
    margin-bottom:40px;
}
.floor>.hd{
    margin:0 10px 15px;
}
.floor>.hd>a{
    float:right;
}
.floor>.hd h3 a{
    font-size:20px;
}
.floor>.hd h3 span{
    font-size:14px;
    margin-left:20px;
}
.floor>.bd::after{
    content:"";
    display:block;
    clear:both;
}
.floor>.bd>.bd_l{
    position:relative;
    float:left;
    width: 243px;
    height: 639px;
}
.f1>.bd>.bd_l{
    background:#ffc0bb;
}
.f2>.bd>.bd_l{
    background:#c2acd1;
}
.f3>.bd>.bd_l{
    background:#d6d8ec;
}
.floor>.bd .banner-link{
    font-size:18px;
    line-height:48px;
    display:block;
    width:194px;
    height:52px;
    margin:70px auto;
    text-align:center;
    color:#fff;
    border:2px solid #fff;
}
.f4>.bd>.bd_l{
    border:1px solid #dcdcdc;
    border-right:0;
}
.f4>.bd>.bd_l .banner-link{
    width:225px;
    height:64px;
    line-height:64px;
    background:#ffcd8d;
    border:0;
    position:absolute;
    top:177px;
    left:9px;
}
.f4>.bd>.bd_l h4{
    margin:15px 12px;
    color:#ff6a00;  
}
.f4>.bd>.bd_l ul{
    margin:0px 12px;
    font-size:12px;
}
.f4>.bd>.bd_l ul::after{
    content:"";
    display:block;
    clear:both;
}
.f4>.bd>.bd_l .line{
    margin:15px 12px;
    border-top:1px solid #d9d9d9;

}
.f4>.bd>.bd_l>ul li{
    line-height:24px;
    float:left;
}
.floor>.bd>.floor-products{
    float:right;
    width:957px;
    display:flex;
    flex-wrap:wrap;
}
.floor>.bd>.floor-products>li{
    width:240px;
    height:320px;
    margin-right:-1px;
    margin-bottom:-1px;
    padding-top:10px;
    text-align:center;
    border:1px solid #e5e5e5;
}
.floor>.bd>.floor-products>li img{
    width:220px;
    height:240px;
}
/*楼层滚动*/
.layout{
    position:fixed;
    top:40%;
    width:100px;
    background:#d9d9d9;
    margin-left:-85px;
    z-index:999;
    padding:10px;
    display:none;
}
.layout li{
    padding:0px 5px;
    line-height:40px;
    height:40px;
    text-align:center; 
}
.layout li+li{
    border-top:1px solid #f4f4f4;
}
.scroll{
    background:#faa;
    color:#ff6a00 !important;
}
/*面板*/
.panel-wrapper{
    display:flex;
    justify-content:space-around;
    margin-bottom:15px;
}
.panel-wrapper>.new1{
    width:240px;
}
.panel-wrapper>.comments{
    width:470px;
}
.panel-wrapper .comments .bd{
    padding:20px 15px;
}
.comments .bd .comment-item{
    padding:10px 0;
    font-size:12px;
}
.comments .bd>dl+dl{
    border-top:1px solid #e5e5e5;
}
.comment-item::after{
    content:"";
    display:block;
    clear:both;
}
.comments dt{
    float:left;
}
.comments dt img{
     display:block;
     width:37px;
     height:38px;
     padding:4px;
     margin:0px 5px;
     background-color:#fff;
     border:1px solid #ddd;
     border-radius:4px;
}
.comments dd{
    margin-left:75px;
    display:flex;
    justify-content:space-between;
}
.comments .comment-item dd>div:first-child>div{
    margin-bottom:10px;
}
.ico-rating{
    height:16px;
    background-position:0px -352px;
}
.r3{
    width:42px;
}
.r5{
    width:70px;
}
.panel-wrapper>.news{
    width:460px;
}
.panel-wrapper>.news>.bd>ul{
    float:left;
}
.panel-wrapper>.news>.bd>ul+ul{
    border-left:1px solid #e5e5e5;
}
.gray-panel .hd{
    height:32px;
    padding:7px 10px;
    background-color:#898989;
    display:flex;
    justify-content:space-between;
}
.gray-panel .bd{
    padding-top:10px;
    height:260px;
    background-color:#f2f2f2;
}
.gray-panel .bd ul{
    padding:8px;
    list-style:disc inside;
}
.gray-panel .bd ul li{
    line-height:35px;
    font-size:12px;
}
.gray-panel .hd h4{
    color:#fff;
}
.ico-plus{
    width:16px;
    height:16px;
    background-position:-390px -318px;
}
/*app+微信*/
.app-wx{
    margin-bottom:15px;
    border:1px solid #e5e5e5;
    display:flex;
    justify-content:space-around;
}
.app-wx .intro{
    float:left;
}
.app-wx>.app-download,.weixin{
    padding:20px 0px 20px 10px;
}
.app-wx>.app-download>img,.weixin>img{
    float:left;
    margin-right:15px;
}
.app-wx .intro h4{
    font-weight: bold;
    margin-bottom:10px;
    color: #ff6a00;
}
.app-wx .intro p{
    margin-bottom:10px;
    font-size:12px;
}
.ico-apple,.ico-android{
    width:50px;
    height:50px;
}
.ico-apple{
    background-position:-134px 0px;
}
.ico-android{
    background-position:-60px -74px;
}
.app-wx>.cartoon img{
    display:block;
    margin-top:12px;
}
.ico-weixin-app{
    width:48px;
    height:48px;
    background-position:-134px -60px;
}
.footer-server{
    height:84px;
    margin-bottom:30px;
    padding:22px 0;
    background-color:#f60;
}
.footer-server ul{
    display:flex;
    justify-content:space-around;
}
.footer-server ul li{
    line-height:40px;
    padding:0 15px;
}
.footer-server ul li+li{
    border-left:1px solid #aaa;
}
.footer-server ul li a {
    color:#fff;
}
.footer-server .ico-server-f1{
    background-position:-51px -188px;
}
.footer-server .ico-server-f2{
    background-position:0px -186px;
}
.footer-server .ico-server-f3{
    background-position:-194px -102px;
}
.footer-server .ico-server-f4{
    background-position:-194px -52px;
}
.footer-server .ico-server-f5{
    background-position:-194px -2px;
}
.footer-server .ico-server-f6{
    background-position:-100px -136px;
}
.footer-server .ico-server-f7{
    background-position:-50px -136px;
}
.footer-server .ico-server-f8{
    background-position:0px -136px;
}