iframe.head,iframe.foot{
    width:100%;
}
iframe.head{
    height:183px;
}
div.carousel{
    min-width:1200px;
    height:440px;
    margin:0 auto 30px;
}
div.carousel_inner{
    width:1349px;
    overflow:hidden;
}
div.container{
    width:1200px;
    margin:0 auto;
}
div.top_server{
    padding-bottom:50px;
}
div.top_server>ul{
    display:flex;
    justify-content:space-around;
}
div.time_limit{
    height:200px;
    margin-bottom:40px;
    display:flex;
    justify-content:space-around;
}
ul.product_list{
    display:flex;
    justify-content:space-around;
}
ul.product_list>li{
    margin-right:-1px;
    border:1px solid #e5e5e5;
}
div.time_limit>.title{
    width:232px;
    text-align:center;
    font-size: 24px;
    color:#fff;
    background-color:#aacc03;
}
div.time_limit>.comic_choose{
    width:249px;
    overflow:hidden;
    text-align:center;
    margin-left:1px;
}
.ico{
    display:block;
    margin: 40px auto 25px;
    background:transparent url('../images/common_z.png') no-repeat;
}
div.time_limit>.title>.ico_clock{
    width:64px;
    height:64px;
    background-position: 0px 0px;
}
div.comic_choose img{
    transition:1s linear;
}
div.comic_choose img:hover{
    transform:scale(1.05);
}
div.floor{
    height:676px;
    border:1px solid #e5e5e5;
    margin-bottom:40px;
}