iframe.head,iframe.foot{
    width:100%;
}
iframe.head{
    height:183px;
}
div.carousel{
    height:440px;
    margin:0 auto 30px;
}
ul.carousel-inner{
    width:1349px;
    height:440px;
    position:relative;
}
ul.carousel-inner>li{
    position:absolute;
    top:0px;
    left:0px;
}
ul.carousel-inner>li{
    opacity:0;
    transition:all .5s linear;
}
ul.carousel-inner>li.active{
    opacity:1;
}
ul.carousel-indicators{
    position:absolute;
    bottom:10px;
    left:50%;
}
ul.carousel-indicators>li{
    float:left;
    width:15px;
    height:15px;
    border-radius:50%;
    background:#aaa;
    margin-right:5px;
}
div.container{
    width:1200px;
    margin:0 auto;
}
div.top_server{
    padding-bottom:50px;
}
div.top_server>ul{
    display:flex;
    justify-content:space-around;
}
.ico{
    display:inline-block;
    background:transparent url('../images/common_z.png') no-repeat;
}
.ico_server_1,.ico_server_2,.ico_server_3,.ico_server_4,.ico_server_5{
    width:40px;
    height:40px;
    float:left;
}
div.top_server>ul>li>a h4,p{
    margin-left:50px;
}
.ico_server_1{
    background-position:-245px -100px;
}
.ico_server_2{
    background-position:-244px -50px;
}
.ico_server_3{
    background-position:-244px -0px;
}
.ico_server_4{
    background-position:-150px -184px;
}
.ico_server_5{
    background-position:-102px -184px;
}
div.time_limit{
    height:200px;
    margin-bottom:40px;
    display:flex;
    justify-content:space-around;
}
ul.product_list{
    display:flex;
    justify-content:space-around;
}
ul.product_list>li{
    margin-right:-1px;
    border:1px solid #e5e5e5;
}
div.time_limit>.title{
    width:232px;
    text-align:center;
    font-size: 24px;
    color:#fff;
    background-color:#aacc03;
}
div.time_limit>.comic_choose{
    width:249px;
    overflow:hidden;
    text-align:center;
    margin-left:1px;
}
.ico_clock{
    width:64px;
    height:64px;
    margin: 40px auto 25px;
    background-position: 0px 0px;
}
div.comic_choose img{
    transition:1s linear;
}
div.comic_choose img:hover{
    transform:scale(1.05);
}
div.floor{
    height:676px;
    border:1px solid #e5e5e5;
    margin-bottom:40px;
}