ul li{
    float:left;
}
.login_wrapper{
    height:488px;
    background:#ffd7c4 url('../img/login/login_bg.jpg') no-repeat 50% 0;
}
.login_wrapper::before{
    content:'';
    display:table;
}
.login_box{
    width:420px;
    height:408px;
    background:#fff;
    margin-left:650px;
    margin-top:40px;
    padding:20px;
}
.login_box>ul:first-child::after,.phone_login::after,.for_pwd::after{
    content:"";
    display:block;
    clear:both;
}
.login_box>ul:first-child{
    margin-bottom:15px;
    border-bottom:2px solid #d9d9d9;
}
.login_box>ul:first-child li a{
    font-size:16px;
    display:inline-block;
    padding:10px 35px;
    margin-bottom:-2px;
    border-bottom:2px solid #d9d9d9;
}
.login_box>ul:first-child>li:first-child a{
    color:#ff6a00;
    border-bottom-color:#ff6a00;
}
.phone_login a,.for_pwd a{
    color:#ff6a00;
    float:right;
    margin-right:32px;
    font-size:12px;
}
div.input_box{
    text-align:center;
}
div.input_box input{
    width:267px;
    height:40px;
    padding:10px;
    border:1px solid #d2d2d2;
}
div.input_box span{
    display:inline-block;
    width:40px;
    height:40px;
    border:1px solid #d2d2d2;
    position:relative;
    top:16px;
    left:6px;
}
div.input_box .ico_user{
    background:#eee url('../img/common_z.png') no-repeat;
    background-position:-327px -308px;
}
div.input_box .ico_lock{
    background:#eee url('../img/common_z.png') no-repeat;
    background-position:-301px -306px;
}
.for_pwd a{
    margin-top:10px;
    margin-bottom:10px;
}
#btn{
    display:block;
    width:307px;
    margin-left:40px;
    font-size:18px;
    color:#fff;
    padding:10px 16px;
    background:#ff6a00;
    border:1px solid transparent;
    border-radius:5px;
    cursor:pointer;
    margin-bottom:20px;
}
#btn:hover{
    background:#f56600;
}
.login_box>ul:last-child{
    margin-left:40px;
}
.login_box>ul:last-child li{
    margin-right:10px;
}