.container{
    width:1200px;
    margin:20px auto;
}
.breadcrumbs{
    margin-bottom:10px; 
}
.product-wrapper{
    padding:30px;
    margin-bottom:40px;
    border:1px solid #d9d9d9;
}
.product-wrapper::after{
    content:"";
    display:block;
    clear:both;
}
.product-wrapper .product-l{
    float:left;
    width:520px;
}
.pro-preview{
    width:450px;
    margin:0 auto;
    text-align:center;
}
.pro-preview .pro-big-img{
    position:relative;
    width:400px;
    height:400px;
    margin:20px auto;
    border:1px solid #ccc;
}
.pro-big-img>img{
    width:400px;
    height:400px;
}
#mask{
    width:176px; 
    height:176px;
    background-color:#ffa;
    opacity:.5;
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
#super-mask{
    width:400px; 
    height:400px;
    position:absolute;
    top:0px;
    left:0px;
}
#div-lg{
    width:580px;
    height:580px;
    position:absolute;
    left:400px;
    top:0px;
    border:1px solid #ccc;
    display:none;
    z-index:10000;
    background:url('../img/product/lg/9010877.jpg') no-repeat;
}
.pro-preview .pro-sm-img{
    width:420px;
    margin:0 auto;
    display:flex;
    justify-content:space-around;
    padding-top:20px;
}
.pro-sm-img img{
    width:68px;
    height:68px; 
    margin:0 12px;
    padding:1px;
    border:1px solid #d9d9d9;
    cursor:pointer;
}
.product-wrapper .product-r{
    float:left;
    width:560px;
}
.product-r .p-title{
    font-size:16px;
    padding-bottom:20px;
    margin-bottom:20px;
    border-bottom:1px solid #d9d9d9;

}
.product-r .p-title .title{
    color: #4d4d4d;
    margin-bottom:6px;
}
.product-r .p-title .subtitle{
    color:#ff6a00;
}
.product-r .attribute p{
    font-size:12px;
    margin:12px 0;
}
.product-r .attribute{
    margin-bottom:15px;
    padding-bottom:15px;
    border-bottom:1px solid #d9d9d9;
}
.product-r .attribute p span:first-child{
    float:left;
}
.product-r .attribute p span:last-child{
    display:block;
    margin-left:70px;
}
